* {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

@media only screen and (min-width: 768px) {
	.form-container {
		margin-top: 15%;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
	}

	.about p {
		margin-top: 5rem;
		width: 40rem !important;
	}

	.d-logo {
		font-weight: normal;
		font-size: 32px !important;
	}
}

@media only screen and (min-width: 600px) {
	.form-container {
		margin-top: 15%;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
}

/*navbar*/

.nav-custom {
	background-color: white !important;
}

.link {
	color: black !important;
}

.link:hover {
	color: #f2b705 !important;
}

.ampersamp {
	color: #f2b705;
}

.d-logo {
	color: #f2b705;
	font-size: 24px !important;
}

button .navbar-toggler {
	border: #f2b705;
}

/*form*/

.form-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: 10%;
}

.form-control {
	width: 20rem;
}

.form-container form .button {
	display: flex;

	justify-content: center;
	align-content: center;
	width: 10rem;
	height: 2rem;
}

.form-container form .login-register {
	display: flex;
	justify-content: center;
}
.form-msg {
	width: 100% !important;
}
.form-email {
	width: 100% !important;
}
.form-name {
	width: 100% !important;
}

.form-button {
	margin: 1rem;
	height: 2.5rem;
	width: 8rem;
	border-style: none;
	transition: all 0.5s ease;
}

.form-button:hover {
	background-color: black;
	color: lightgray;
}

/*About*/
.about {
	margin-top: 3rem !important;
	margin: 1rem;
}

.about p {
	margin: 2rem;
}

.about a {
	margin: 2rem;
}

/*Delivery Info*/

.delivery-info {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-flow: column;
	margin-top: 3rem;
}

.delivery-content p span {
	font-weight: bolder;
}

.delivery-content-1 {
	margin-top: 3rem;
	text-align: center;
}
.delivery-content-1 h6 {
	margin-bottom: 1rem;
}

.solo-center {
	margin-top: 3rem;
	text-align: center;
	color: green;
}

.delivery-content {
	margin-top: 3rem;
	text-align: center;
}

.delivery-content h6 {
	margin-bottom: 1rem;
}

/*Profile: orders*/

.button {
	background-color: white !important;
	color: black !important;
	border-style: none !important;
}

.button:hover {
	background-color: black !important;
	color: lightgray !important;
}

.button-left {
	float: left;
	margin: 1rem;
	background-color: white !important;
	color: black !important;
	border-style: none !important;
}

.button-left:hover {
	background-color: black !important;
	color: lightgray !important;
}

.order {
	margin: 1rem;
	margin-top: 3rem !important;
}

.no-order {
	margin-top: 3rem !important;
	margin: 1rem;
}

.no-order {
	text-align: justify;
}

.no-order span {
	font-weight: bolder;
}
/*Profile: User*/

.prof-form {
	margin-top: 3rem !important;
	margin: 1rem;
}

/*shop*/

.product-card {
	width: 16rem;
	margin: 0.5rem;
	transition: all 0.3s ease;
	border-radius: 3rem !important;
}

.product-card:hover {
	cursor: pointer;
	-webkit-box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem #ccc !important;
	-moz-box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem #ccc !important;
	box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem #ccc !important;
}

.custom-modal {
	position: absolute !important;
	z-index: 1000;
}

.product-image {
	height: calc(3rem * 4);
	width: calc(4rem * 4);
}
